/* Apply only on the login page */
body {
    cursor: pointer;
}

.login-background {
    background-image: url('/public/pngtree-healthy-thai-food-recipes-concept-picture-image_15445097.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Center the login form */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    max-width: 400px;
    margin: auto;
    margin-top: 5px; /* or another valid value */
    padding: 3px; /* Use 'px' for padding */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Correct syntax for box-shadow */
    border-radius: 2px;
    color: white;
    background: #00000099;
}

.link {
    text-decoration: none;
    color: inherit;
}

.popup:hover {
    color: blue;
}

.listItemAlign {
    display: inline-block;
    text-align: center;
}

.box {
    text-align: center;
}
